<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2849440354-o7s5lvoj2eceqts8oe5h48h57ljdb1jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2849440354-o7s5lvoj2eceqts8oe5h48h57ljdb1jf</string>
	<key>API_KEY</key>
	<string>AIzaSyB_-t99SdzW4pyJi_8m5NBFOUpqUeLeQHc</string>
	<key>GCM_SENDER_ID</key>
	<string>2849440354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneyRise</string>
	<key>PROJECT_ID</key>
	<string>money-rise-81cd5</string>
	<key>STORAGE_BUCKET</key>
	<string>money-rise-81cd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2849440354:ios:2335d3853a843eaa96873b</string>
</dict>
</plist>